export(estimateAPR)
export(estimateFDR)
export(generateExpressionData)
export(generatePatientData)
export(interimTrial)
export(interimTrialSimulation)
export(plotgendat)
export(plotinterimAPR)
export(plotinterimFDR)
export(plotinterimStops)
export(plotpatdat)
